{% extends 'base/base.html' %} {% load static %} 
{% block 'body' %} 
{% load crispy_forms_tags %}
<div class="text-center">
  <main class="form-signin">
    <form action="" method="post">
      <img
        class="mb-4"
        src="{% static 'images/carlogo.png' %}"
        alt=""
        width=""
        height="90"
      />
      {{ login_form|crispy}}
      <button class="w-100 btn btn-lg btn-danger" type="submit">Sign In</button>
      <p class="mt-5 mb-3 text-muted">Copyright © 2025 Carvibe</p>
    </form>
  </main>
</div>
{% endblock %} {% block 'footer' %} {% endblock %}
